/* Counter.module.css */
.counterContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}
.Counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  background: #f9f9f9;
}
