// out:./
@vw:3.75vw;
.FilterMeals{
    position: fixed;
    width: (375/@vw);
    height: (60/3.75vw);
    background-color: #FECE4D;
    border-bottom: 1px solid #f2f2f2;
    top: 0;
    left: 0;
    margin: auto;
    z-index: 99;
    
}

.boxflex{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: (60/3.75vw);
}

.Input{
    width: (320/3.75vw);
    height: (32/3.75vw);
    background-color: #fff;
    border: none;
    border-radius: (16/3.75vw);
    outline: none;
    padding-left: (28/3.75vw);
    font-size: (14/3.75vw);

}

.Searchbar{
    position: absolute;
    margin-left: (-314/3.75vw);
    color: #aaa;
    font-size: (16/3.75vw);
}

.Search{
    position: absolute;
    display: flex;
    justify-content: center;
    right: (15/@vw);
    width: (54/@vw);
    height: (28/@vw);
    background-color: #FECE4D;
    line-height: (28/@vw);
    border-radius: (16/3.75vw);
    font-size: (14/@vw);
}