.Checkout {
  position: fixed ;
  background-color: #eee;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  padding: 10px;
}
.Close {
  color: #000;
  font-size: 5.33333333vw;
}
.MealsDesc {
  background-color: #fff;
  border-radius: 5.33333333vw;
}
.Meals {
  /* background-color: #585454; */
  max-height: 133.33333333vw;
  overflow: auto;
}
.Title {
  padding-top: 2.66666667vw;
  font-size: 3.73333333vw;
  margin-left: 2.66666667vw;
}
.Footer {
  position: relative;
  height: 16vw;
  border-top: 1px dashed #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: bold;
  font-size: 5.33333333vw;
}
.TotalPrice::before {
  content: '合计￥';
  font-weight: normal;
  font-size: 5.33333333vw;
  margin-right: 1.6vw;
}
.TotalPrice {
  margin-right: 8vw;
}
