.ConfirmOuter {
  z-index: 9999;
}
.Confirm {
  position: absolute;
  background-color: #fff;
  width: 93.33333333vw;
  height: 41.6vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}
.ConfirmText {
  font-size: 1.06666667rem;
}
.Cancel,
.Ok {
  width: 24.53333333vw;
  height: 8.53333333vw;
  border-radius: 5.33333333vw;
  background-color: #fff;
  border: 1px solid #ccc;
}
.Ok {
  background-color: #FCBF49;
  border: none;
  margin-left: 6.93333333vw;
}
