// out:./
.ConfirmOuter{
    z-index: 9999;
}

.Confirm{
    position: absolute;
    background-color: #fff;
    width: (350/3.75vw);
    height: (156/3.75vw);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.ConfirmText{
    font-size: (4/3.75rem);
}

.Cancel, .Ok{
    width: (92/3.75vw);
    height: (32/3.75vw);
    border-radius: (20/3.75vw);
    background-color: #fff;
    border: 1px solid #ccc;

}

.Ok{
    background-color: #FCBF49;
    border: none;
    margin-left: (26/3.75vw);
}