.Footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100vw;
  height: 10.66666667vw;
  z-index: 99;
}
.Footer .Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33.33333333vw;
  height: 10.66666667vw;
  background-color: #fff;
  text-align: center;
  line-height: 6.93333333vw;
  font-size: 4vw;
}
.Footer .Orders {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 33.33333333vw;
  height: 10.66666667vw;
  background-color: #fff;
  text-align: center;
  line-height: 6.93333333vw;
  font-size: 4.26666667vw;
}
.Footer .Orders .Number {
  position: absolute;
  left: 17.6vw;
  bottom: 6.4vw;
  width: 3.2vw;
  height: 3.2vw;
  border-radius: 50%;
  background-color: #ff0000;
  text-align: center;
  font-size: 2.66666667vw;
  line-height: 3.2vw;
  color: #fff;
}
.Footer .User {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 33.33333333vw;
  height: 10.66666667vw;
  background-color: #fff;
  text-align: center;
  line-height: 10.66666667vw;
  font-size: 4.26666667vw;
}
.Footer .Title {
  font-size: 1.86666667vw;
  font-weight: 200;
  margin: 0;
  padding: 0;
  line-height: 3.2vw;
  margin-bottom: 0.53333333vw;
}
.Footer .Active {
  color: #FECE4D;
}
