// out:./

.CartDetails{
    position: absolute;
    display: flex;
    flex-flow: column;
    width: (375/3.75vw);

    max-height: (520/3.75vw);
    background-color: #fff;
    border-top-left-radius: (10/3.75vw);
    border-top-right-radius: (10/3.75vw);
    bottom: 0;
    padding-bottom: (24/3.75vw);
    // overflow: auto;

}

.Header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: (12/3.75vw) ;
}

.Title{
    margin: 0;
    font-weight: bold;
    font-size: (16/3.75vw);
}

.Clear{
    color: #aaa;
    font-size: (14/3.75vw);
}

.Clear span{
    margin-left: 0;
}

.MealList{
    /* background-color: #854646; */
    overflow: auto;
    margin-bottom: (30/3.75vw);
}