// out:./
@vw:3.75vw;

.SwiperContainer{
    width: 100%;
    margin: 0,auto;
}

.Img{
    margin-top: (60/3.75vw);
}

:global(.swiper-button-next),
:global(.swiper-button-prev){
//   color: white ;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.3);
  width: 4px ;
  height: 4px ;
  border-radius: 50%;
  backdrop-filter: blur(4px);
  margin-top: (20/@vw);
  
}

:global(.swiper-button-next:after),
:global(.swiper-button-prev:after) {
  font-size: 14px ;
}

:global(.swiper-pagination-bullet) {
  width: (6/@vw);
  height: (6/@vw);
}
