// out:./
@vw:3.75vw;
.ShowsPane{
    width: (359/@vw);
    // height: (1000/@vw);
    // background-color: skyblue;
    background-color: #f6f6f6;
    padding:  (2/@vw) (8/@vw) (8/@vw) (8/@vw);
    // margin: 0;
    // padding: 0;
    margin-bottom: (40/@vw);

}