// out:./
.Bar{
    position: relative;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: (0/3.75vw);
    width: (375/3.75vw);
    height: (40/3.75vw);
    background-color: #ffff;
    left: 0;
    // right: 0;
    // margin: auto ;
    margin-bottom: (41/3.75vw);
    // z-index: 99;
}

.TotalPrice{
    color: #fb2929;
    position: relative;
    left: 40px;
    line-height: (40/3.75vw);
}

.Button{
    border-radius: (18/3.75vw);
    width: (80/3.75vw);
    height: (34/3.75vw);
    margin-top: (4/3.75vw);
    margin-right: (6/3.75vw);
    background-color: #fcbf49;
    border: none;
}

.Dis{
    width: (80/3.75vw);
    height: (34/3.75vw);
    margin-top: (4/3.75vw);
    margin-right: (6/3.75vw);
    background-color: #878787;
    color: #bdbdbd;
}