// out:./
@vw:3.75vw;

.Filter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: (359/@vw);
    height: (26/@vw);
    margin-left: (8/@vw);
    border-radius: (10/@vw);
    background-color: #fff;
    
    position: sticky;
    top: (60/@vw);

    .Suggest{
        width: (74/@vw);
        height: (24/@vw);
        background-color: #FECE4D;
        border-radius: (8/@vw);
        font-size: (11/@vw);
        line-height: (24/@vw);
    }

    .Filter_btns{
        border-radius: (8/@vw);
        // margin: 0 (10/@vw) 0 (10/@vw);
        .Btn{
            padding: 0;
            width: (74/@vw);
            height: (24/@vw);
            margin-bottom: 1px;
            border-radius: (8/@vw);
            border: none;
            line-height:(24/@vw);
            font-size: (11/@vw);
            background-color: #fff;
            // border: 1px solid #e6e6e6;
            color: #333;
        }

        .Active {
            background-color: #FECE4D;
            color: #333;
            font-weight: bold;
        }
    }
}

