// out: ./
.Counter{
    display: flex;
    align-items: center;
}

.Sub,
.Add{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #fcbf49;
    width: (14/3.75vw);
    height: (14/3.75vw);
    border-radius: 50%;
    line-height: (14/3.75vw);
    // font-size: (16/3.75vw);
    padding: 0;
    // vertical-align: middle;

}

.Sub{
   background-color: #fff; 
   border: 1px solid black;
   
}

.count{
    font-size: (15/3.75vw);
    margin:  0 (5/3.75vw);
}

.Plus{
    font-size: (12/3.75vw);
    vertical-align: middle;
}