// out:./
.FilterMeals{

    height: (60/3.75vw);
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
}

.boxflex{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: (60/3.75vw);
}

.Input{
    width: (310/3.75vw);
    height: (30/3.75vw);
    background-color: #eaeaea;
    border: none;
    border-radius: (10/3.75vw);
    outline: none;
    padding-left: (24/3.75vw);
    font-size: (14/3.75vw);
}

.Searchbar{
    position: absolute;
    margin-left: (-304/3.75vw);
    color: #aaa;
    font-size: (18/3.75vw);
}