// out: ./
.Meal{
    display: flex;
    // width: (390/3.75vw);
    // height: (114/3.75vw);
    border-bottom: 1px #f2f2f2 solid;
    // background-color: #b58e8e;
    padding: (10/3.75vw);
}

.Imgbox{
    width: (120/3.75vw);
    // background-color: #87ba7a;
}
img{
    width: 100%;
}

.DescBox{
 flex: auto;
 margin-left: (10/3.75vw);
}

.Title{
    font-weight: normal;
    font-size: (18/3.75vw);
    margin: 0;
}

.Desc{
    margin: 0;
    font-size: (14/3.75vw);
    color: #737171;
}

.PriceWrap{
    // margin-top: 2px;
    // padding-right: 2px;
    display: flex;
    justify-content: space-between;
}


.Price {
    margin-top: (8/3.75vw);
}
